<%= form_for(@recuest, {url: user_recuests_path(current_user)}) do |f| %>
  <% if @recuest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recuest.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @recuest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-fields">
    <%=f.label :receivers%>
    <%=f.text_field :receivers, :class=> "swap_receivers", :name=>"receivers"%>
  </div>
  <div>
    <%=f.label :tournaments%>
    <%=f.text_field :tournaments, :class=> "swap_tournaments", :name=>"tournaments"%>
  </div>
  <div class="form-fields">
    <%=f.label :percent%>
    <%=f.text_field :percent, :name=>"percent"%>
  </div>
  <input type="hidden" name="type" value="Swap">
  <div class="clearfix"></div>
  <%=f.submit :send_request%>
<%end%>