<%= form_for(@recuest, {url: user_recuests_path(current_user)}) do |f| %>
  <% if @recuest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recuest.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @recuest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <label>Send To</label>
  
  <%=f.label :receivers, :class=> "recuest-field"%>
  <%=f.text_field :receivers, :class=> "recuest-field swap_receivers", :name=>"receivers"%>
  <%=f.label :tournaments, :class=> "recuest-field"%>
  <%=f.text_field :tournaments, :class=> "recuest-field swap_tournaments", :name=>"tournaments" %>
  <%=f.label :percent, :class=> "recuest-field"%>
  <div class="clearfix"></div>

  <%=f.text_field :percent, :class=> "recuest-field", :name=>"percent"%>
  <input type="hidden" id="id_type">
  <div class="clearfix"></div>
  <%=f.submit :send_request, :class=> "recuest-field"%>

<%end%>