<div class="row-fluid hidden-tablet hidden-phone">
  <div class="span10 inbox">
    <h2 class="title">Pending Requests</h2>
    <div class="squiggly-border"></div>

    <table class="table table-striped table-bordered table-radmin">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Tournament</th>
          <th>Amount</th>
          <th style="text-align:center; width: 63px">Accept</th>
          <th style="text-align:center; width: 89px">Deny</th>
          <th style="text-align:center; width: 77px">Edit</th>
        </tr>
      </thead>
      <%# create a partial %>
      <tbody>
        <%@pending_inbound_recuests.each do |recuest| %>
        <tr>
          <td><%=recuest.user.name%></td>
          <td><%=recuest.type%></td>
          <td><%#=recuest.tournament.name%></td>
          <td><%=recuest.percent%>%</td>
          <%= form_for recuest, {url: user_recuest_path(current_user, recuest)} do |f|%>
          <td>
          <%= f.submit 'Accept', :value => 'Accept', :name=>"status", :class=>"btn btn-small btn-danger"  %>
          </td>
          <td>
          <%= f.submit "Deny", :value=>"Deny", :name=>"status", :class=>"btn btn-small btn-info"%>
          </td>
          <td>

            <% if recuest.updateable?%> 
              <%= f.submit "Edit", :value=>"Edit", :name=>"status", :class=>"btn btn-small"%>
              <%end%>
          </td>
            <%end%>
          <%end%>
        </tr>
      </tbody>
    </table>

    <div class="pagination pagination-right">
      <ul>
        <li class="disabled">
          <a href="#">Prev</a>
        </li>
        <li class="active">
          <a href="#">1</a>
        </li>
        <li>
          <a href="#">2</a>
        </li>
        <li>
          <a href="#">3</a>
        </li>
        <li>
          <a href="#">4</a>
        </li>
        <li>
          <a href="#">5</a>
        </li>
        <li>
          <a href="#">Next</a>
        </li>
      </ul>
    </div>
  </div>
</div>