<%= form_for(@lastlonger, {url: user_lastlongers_path}) do |f| %>
  <% if @lastlonger.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lastlonger.errors.count, "error") %> prohibited this lastlonger from being saved:</h2>

      <ul>
      <% @lastlonger.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <label>Send To</label>
  <input type="text" name="name">
  <%=f.label :amount%>
  <%=f.text_field :amount%>
  <label>Tournament</label>
  <input type="text" name="tournament_name">
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
