<p id="notice"><%= notice %></p>
<h1>Welcome, <%=@user.name%>!</h1>

<div class="dashboard">
  <div class="minidash">
    <span class="title-name">Swaps</span>
    <p><%=current_user.swaps.count%></p>

  </div>
  <div class="minidash">
    <span class="title-name">Pieces</span>
    <p><%=current_user.pieces.count%></p>
  </div>
  <div class="clearfix"></div>
  <div class="minidash">
    <span class="title-name">Lastlonger</span>
     <p><%=current_user.lastlongers.count%></p>
  </div>
  <div class="minidash">
    <span class="title-name">Owe</span>
  </div>
  <div class="clearfix"></div>

  <div class="minidash">
    <span class="title-name">Owed</span>
  </div>
  <div class="minidash">
    <span class="title-name">Tickets</span>
  </div>
  <div class="clearfix"></div>

</div>
<div class="active">
  <ul>
    <li class="tabs"><a href="#" class="all-active">All Active</a></li>
    <li class="tabs"><a href="#" class="pieces-tab">Pieces</a></li>
    <li class="tabs"><a href="#" class="swaps-tab">Swaps</a></li>
    <li class="tabs"><a href="#" class="lastlonger-tab">LL</a></li>
    <li class="tabs"><a href="#" class="props-tab">Props</a></li>
  </ul>
  <div>
      <h4>Type</h4>
      <h4>With</h4>
      <%@active_recuests.each do |active|%>
        <ul class="<%=active.type%>">
          <li class='active-recuests'><%=active.type%></li>
          <li class="active-recuests"><%= active.user.name%></li>
        </ul>
      <%end%>
    
  </div>
</div>



