<p id="notice"><%= notice %></p>
<h1>Welcome, <%=@user.name%></h1>
<table>
    <tr><td>From </td>
     <td>Tournament </td>
     <td>Piece Size </td>
     <td>Status</td>
   </tr>
  <tbody>
    <%@recuests.each do |recuest|%>
    <tr>
      <td><%=recuest.user.name if recuest.user%> </td>
      <td><%=recuest.tournament.name if recuest.tournament%> </td>
      <td><%=recuest.size if recuest.type == 'swap' || recuest.type == 'piece' %> </td>
      <td><%=recuest.status_name%></td>
    </tr>
  </tbody>
    <%end%>
</table>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>


