<%= form_for(@request) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h3><%=@request.tournament.name%></h3>
  <h3><%=@request.user.name%></h3>
  <%=f.text_field :piece_size, :value=>"#{@request.piece_size}"%>
  <div class="actions">
    <%= f.submit :value=>"Send for approval" %>
  </div>
<% end %>
